# ─── Dependências ────────────────────────────────────────────────────────────
node_modules/

# ─── Build ───────────────────────────────────────────────────────────────────
dist/
dist-ssr/
build/

# ─── Variáveis de ambiente — NUNCA comitar ────────────────────────────────────
.env
.env.local
.env.*.local
# .env.example NÃO está aqui — ele pode (e deve) ir para o git

# ─── Logs ────────────────────────────────────────────────────────────────────
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ─── Editor ──────────────────────────────────────────────────────────────────
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# ─── Vite ────────────────────────────────────────────────────────────────────
vite.config.ts.timestamp*

# ─── Firebase ────────────────────────────────────────────────────────────────
.firebase/
firebase-debug.log
firestore-debug.log

#Escopo do projeto 
estrutura